.info-resumo-imoveis{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
}

.info-resumo-individual{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 5px;
}