.apresentacao-imovel img{
    max-width: 100%;
    display: block;
}

.apresentacao-imovel{
    max-width: 300px;
    margin: 0 auto;
}

.apresentacao-imovel ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}