.contatinhos{
    margin-top: 60px;
    margin-bottom: 60px;
    gap: 20px;
}

.contatinho{
    background-color: var(--cor-12);

    display: flex;
    padding: 10px 25px;
    gap: 20px;

    border-radius: 4px;
}