body#links{
    background: var(--cor-13);
    max-width: 390px;
    margin: 0px auto;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#links .capalinks img{
    width: 100%;
    height: auto;
}

#links .titulo-meuslinks{
    margin-top: -30px;
}

div.det-linha-branca{
    margin-top: 40px;
    margin-bottom: 20px;
}

#links .lista-meuslinks{
    list-style-position: inside;
    list-style: none;
    padding: 0px;

    margin-top: 40px;
}

#links .lista-meuslinks li a{
    text-decoration: none;
    color: var(--cor-w);
}

#links .lista-meuslinks li:not(:last-child){
    margin-bottom: 10px;
}

#links .icones-meuslinks{
    margin: 40px 0px 20px 0px;
}

#links .icones-meuslinks a:nth-child(2){
    margin: 0px 25px;
}

#links .icones-meuslinks a img{
transition: transform .5s;
}

#links .icones-meuslinks a img:hover{
    transform: scale(1.1);
}

#links .copy-meuslinks{
    padding: 10px 0px;
}

